<!-- Main Bootstrap Search -->
  <div class="container">

    <!-- Jumbotron for Title -->
    <div class="jumbotron" style="background-color: #20315A ; color: white;">
      <img id="icon" src="assets/img/grilledburger-550X390.jpg" alt="burger icon">
      <h1 class="text-center"><a href="../img/restaurant_icons.png"></a><strong> Grind Da Burger!</strong></h1>
    </div>

<h2>Burgers available</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{ burger_name }} 
        <button data-id="{{id}}" class="js-devour-handler">Devour Me Now!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{ burger_name }}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="add-burger">
  <div class="form-group">
    <label for="name">Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>
